.profile {
    
width: 100px;
display: block;
margin-left: auto;
margin-right: auto;
    
}

.head{
    
font-family: 'gulim';
color: blue;
letter-spacing: 4;
text-align: center;
    
}

.para{
   
text-align: center;
color: black;
font-weight: 900;
       
}

.box{
    width: 200px;
    height: 200px;
    background-color: cadetblue;
    margin: 30px;
    padding: 40px;
    border: 4px solid black;
    border-radius: 15px;
margin-left: auto;
margin-right: auto;
    font-size: 15px;
   font-family: gulim;
    color: white;
    box-shadow: 10px 10px 5px #000;
}

.container{
    
    width:2000px;
    height: 500px;
}


.header {
    width: 100%;
    height: 100px;
    background: aquamarine;
    
}

.left-menu {
    width: 20%;
    height: 400px;
    background: cornflowerblue;
    display: inline-block;
   
}

.right {
    width: 80%;
    height: 400px;
    background: coral;
    display: inline-block;
    
}

.footer {
    width: 100%;
    height: 100px;
    background-color: grey;
    
    
}

.image {
    width : 100%;
    height: 100%;
}

.right_image {
    width : 30%;
    float : left;
    height: 100%;
}

.left_text {
    width: 70%;
    height: 100%;
    float: left;
    background-color: aliceblue;
}

.top {
    width: 100%;
    height: 30%;
    float: left;
}

.buttom {
    width: 100%;
    height: 70%;
    float: left;
    background-color: aqua
}

.navbar li{
    display: inline-block;
    width: 60px;
    text-align: center;
    background: #eee;
    padding: 10px;
    border-radius: 5px;
}

.navbar a{
    font-size: 16px;
    text-decoration: none;
    
}
